$color-white: #FFF;
$color-grey: #777;
$color-grey-light: #999;
$color-grey-dark: #333;
$color-black: #000;
$color-primary: #2979FF;
$color-primary-light: #448AFF;
$color-primary-dark: #2962FF;

$row-space: 4rem;
$col-space: 2rem;