.hero {
    background-color: $color-primary;
    border-radius: 1.5px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    margin-bottom: 2rem;
    padding: 5rem 2.5rem 10rem 2.5rem;

    @include respond(phone) {
        clip-path: none;
    }

    &__left {
        display: inline-block;
        margin-right: 2rem;
        vertical-align: middle;
    }

    &__right {
        display: inline-block;
        vertical-align: middle;
    }

    &__image {
        border-radius: 50%;
        height: 15rem;
        width: 15rem;
        transition: all .15s;

        &:hover {
            filter: brightness(50%);
        }
    }
}